@model ListTodoViewModel

<div class="row">
  <div class="col text-center">
    <h1>@ViewData["Title"]</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Data</th>
          <th scope="col">Completo?</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var todo in Model.Todos)
        {
          <tr>
            <th scope="row">@todo.Id</th>
            <td>@todo.Title</td>
            <td>@todo.Date.ToString("dd/MM/yyyy")</td>
            <td>
              @if (todo.IsCompleted)
              {
                <i class="text-success" data-feather="check-square"></i>
              }
              else
              {
                <i class="text-danger" data-feather="x-square"></i>
              }
            </td>
            <td>
              <a
                asp-controller="Todo"
                asp-action="ToComplete"
                asp-route-id="@todo.Id"
                onclick="return confirm('Tem certeza que deseja concluir essa tarefa?')"
                class="btn btn-sm btn-success @(todo.IsCompleted ? "disabled" : "")"
              >
                Concluir
              </a>
              <a
                asp-controller="Todo"
                asp-action="Edit"
                asp-route-id="@todo.Id"
                class="btn btn-sm btn-warning @(todo.IsCompleted ? "disabled" : "")"
              >
                Editar
              </a>
              <a
                asp-controller="Todo"
                asp-action="Delete"
                asp-route-id="@todo.Id"
                onclick="return confirm('Tem certeza que deseja excluir essa tarefa?')"
                class="btn btn-sm btn-danger"
              >
                Excluir
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">Nova Tarefa</a>
  </div>
</div>